body {
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

ul {
    background-color: #444;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #fff;
}