html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5em;
    padding: 1.5em;
}

h1 {
    font-family: "Great Vibes", cursive;
    line-height: 1.2;
    font-weight: bold;
}