* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: #eee;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery {
    max-width: 50em;
    margin: 0 auto;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.gallery li {
    list-style: none outside;
    border: 5px solid #000;
    flex: 0 0 250px;
    padding: 1em;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 
        0 0 1em 0 rgba(0, 0, 0, 0.3),
        0 0 0.3 0 rgba(0, 0, 0, 0.4) inset
    ;
}